/* container */
@mixin container($color: #f3f3f3) {
  background: $color;
  padding: $header-height + 12px 6px 0;
  min-height: 667px;
}

/* flex */
@mixin flex-row($justify:space-between, $align: center) {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify:space-between, $align: center) {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}