/* header */
$header-height: 44px;
$header-background: #f8f8f8;
/* container */
$container-color-default: #f3f3f3;
$container-padding: 12px;

/* 分割线 颜色*/
$line-deep: #ccc;
$line-light: #E5E5E5;

/* 链接颜色 */
$link: #9ea7e7;